<% include ../partials/boilerplate %>

<div class="register-container">

<div class="behindregister">

  <h1>Create an Account</h1>

  <form method='POST' action='/auth/register'>
    <div class="input">
    <input name='username' type='text' placeholder='username' required />
    </div>

    <div class="input">
    <input name='email' type='email' placeholder='email' required />
    </div>

    <div class="input">
    <input name='password' type='password' placeholder='password' required />
    </div>

    <div class="input">
    <input name='firstname' type='text' placeholder='first name' required />
    </div>

    <div class="input">
    <input name='lastname' type='text' placeholder='last name' required />
    </div>
    <input type='submit' value='Register!' />
  </form>

  </div>

</div>

<% include ../partials/end %>