<nav>
<ul>
    <li><a href="/"><img src="/images/homepage_logo.png"></a></li>
    <li><a href="/categories"><h1>Categories</h1></a></li>
    <li><a href="/user"><h1>My Profile</h1></a></li>
    <li><a href="#"><h1>Logout</h1></a></li>
</ul>
</nav>