<% include ./partials/boilerplate %>

<div class="homepage">
<img src="/images/homepage_logo.png">
</div>
<div class="homepage">
    <p> create headline here</p>
</div>
<div class="homepage">
<a href='/auth/register'>Register</a>
<a href='/auth/login'>Login</a>
</div>


<% include ./partials/end %>