<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form method='POST' action='./savedRecipe/<%= recipe.id %>?_method=PUT'>
    <input name='title' type='text' placeholder='title' />
    <input name='servingsize' type='text' placeholder='serving size' />
    <input name='healthlabels' type='text' placeholder='health labels' />
    <input name='ingredients' type='text' placeholder='ingredients' />
    <input name='calories' type='text' placeholder='calories' />
    <input name='url' type='text' placeholder='url' />
    <input name='image' type='text' placeholder='image' />
    <input type='submit' value ='Submit!' />
</form>


<% include ../partials/end %>

