<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class="userprofile">

<h1><%= user.username %> saved recipes</h1>
<a href="/user/add">Add Recipe Here</a>


</div>

<% include ../partials/end %>