<% include ../partials/boilerplate %>

<% for (let recipe of data) { %>
        <a href='/categories/<%= recipe.healthlabels%>'><%= recipe.healthlabels %></a>
    </div>
<% } %> 

</form>

<% include ../partials/end %>