<% include ../partials/boilerplate %>
<% include ../partials/nav %>


<div class="categories">
<h1>categories</h1>

<div class="catcontain">

<a href="/categories/Low-Fat">Low-Fat</a>
<a href="/categories/Low-Carb">Low-Carb</a>
<a href="/categories/High-Protein">High-Protein</a>
<a href="/categories/Vegetarian">Vegetarian</a>
<a href="/categories/Vegan">Vegan</a>
<a href="/categories/Gluten-Free">Gluten-Free</a>

</div>
</div>

<% include ../partials/end %>