<% include ../partials/boilerplate %>

<a href="/categories/high-protein">High-Protein</a>
<a href="/categories/high-fiber">High-Fiber</a>
<a href="/categories/low-fat">Low-Fat</a>
<a href="/categories/low-carb">Low-Carb</a>
<a href="/categories/low-sodium">Low-Sodium</a>
<a href="/categories/vegetarian">Vegetarian</a>
<a href="/categories/vegan">Vegan</a>
<a href="/categories/gluten-free">Gluten-Free</a>

<form method='POST' action='/categories'>

<input name='search' type='text' placeholder='search' required />
<input type='submit' value='Log in!' />

</form>

<% include ../partials/end %>