body{
    background-image: url("/images/background.png");
    background-size:cover;
}

body.Categories{
    background:#E2E2E2;
    background-image: none;
}

body.Profile{
    background:#E2E2E2;
    background-image: none;
}

body.subCategories{
   background:#E2E2E2;
    background-image: none;
}

body.userprofile{
    background:#E2E2E2;
    background-image: none;
}

.homepage{
    display:flex;
    flex:1;
    justify-content: center;
}

.homepage a{
    font-family:Baskerville;
    text-decoration: none;
    padding:10px 20px;
    font-size:24px;
    background: #96474B;
    letter-spacing: 0.08em;
    color:#E2E2E2;
    margin-right:30px;
    margin-left:20px;
    margin-top:20px;
}

.homepage a:hover{
    color:#96474B;
    background:#E2E2E2;
}

.homepage p {
    font-family:Baskerville;
    color: #E2E2E2;
    padding:10px;
    margin-top:-40px;
    font-size:42px;
}

nav {
    background:#303030;
    height:140px;
}

nav li{
    background:#303030;
    display: flex;
    float:left;
    padding:10px;
    text-decoration: none;
}

nav img{
    width:120px;
    display:flex;
    margin-left:50px;
}

nav h1 {
    font-size:20px;
    color: #E2E2E2;
    letter-spacing: 0.03em;
    margin-top:50px;
    margin-left:10px;;
    text-decoration: none;
}


.behindregister{
    margin:0 auto;
    background:rgba(226,226, 226, 0.74);
    z-index: -1;
    width:700px;
    height:470px;
    margin-top:30px;
}

.input input[type=text], input[type=number], input[type=email], input[type=password]{
    width:500px;
    padding:10px;
    font-family: baskerville;
    font-size:16px;
    margin-bottom:15px;
}

input[type=submit] {
    background:#303030;
    border:1px solid #303030;
    color: #E2E2E2;
    font-family:baskerville;
    padding:10px;
    letter-spacing: 0.08em;
    font-size:18px;
    margin-left:300px;
}

input[type=submit]:hover{
    background:#97474C;
    color:#E2E2E2;
    border: 1px solid #97474C;
}

h1{
    font-family:baskerville;
    font-size:75px;
    color:#97474C;
    text-align:center;
    z-index:1;
    padding:15px 0px;
    margin-bottom:15px;
    margin-top:10px;
}

.input{
    display:flex;
    flex:1;
    justify-content: center;
    z-index:1;
}

.behindlogin{
    margin:0 auto;
    background:rgba(226,226, 226, 0.74);
    z-index: -1;
    width:700px;
    height:320px;
    margin-top:60px;
}

.categories h1{
    color:#303030;
    margin-top:25px;
    letter-spacing: 0.1em;
    font-size:80px;
}

.userprofile h1{
    color:#303030;
    margin-top:25px;
    letter-spacing: 0.1em;
    font-size:80px;
}


.individuals img{
    width: 80vh;
}

.individuals{
    width:90%;
    margin:0 auto;
}

.rec_single{
    width:90%;
    height: 450px;
    margin:0 auto;
    background:rgba(226,226, 226, 0.64);
    z-index: -1;
    margin-top:20px;
}

.rec_single h2{
    color:#303030;
    font-size:38px;
    font-family: baskerville;
    letter-spacing: 0.1em;
    margin-left:50px;
    margin-bottom:20px;
}

.rec_single h3{
    font-family:baskerville;
    font-size:22px;
    line-height: 1.5em;
    margin-left:70px;
    margin-bottom:30px
}

.rec_single a {
    font-family:baskerville;
    font-size:26px;
     color:#303030;
     text-decoration:none;
    margin-left:60px;
}

.rec_single [type='submit'] {
    float:right;
    margin-right:30px;
}

.savedcontainer {
    width:80%;
    margin: 0 auto;
}

.savedrecipes {
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction: column;
    border:2px solid green;
    width:350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    float:left;
}

.savedrecipes img{
    width:85%vw;
    height:85%;
}

.savedrecipes h1{
    font-size:30px;
}

