body{
    background-image: url("/images/background.png");
    background-size:cover;
}

body.Categories{
    background:#E2E2E2;
    background-image: none;
}

.homepage{
    display:flex;
    flex:1;
    justify-content: center;
}

.homepage a{
    font-family:Baskerville;
    text-decoration: none;
    padding:10px 20px;
    font-size:24px;
    background: #96474B;
    letter-spacing: 0.08em;
    color:#E2E2E2;
    margin-right:30px;
    margin-left:20px;
    margin-top:20px;
}

.homepage a:hover{
    color:#96474B;
    background:#E2E2E2;
}

.homepage p {
    font-family:Baskerville;
    color: #E2E2E2;
    padding:10px;
    margin-top:-40px;
    font-size:42px;
}

.behindregister{
    margin:0 auto;
    background:rgba(226,226, 226, 0.74);
    z-index: -1;
    width:700px;
    height:470px;
    margin-top:30px;
}

.input input[type=text], input[type=number], input[type=email], input[type=password]{
    width:500px;
    padding:10px;
    font-family: baskerville;
    font-size:16px;
    margin-bottom:15px;
}

input[type=submit] {
    background:#303030;
    border:1px solid #303030;
    color: #E2E2E2;
    font-family:baskerville;
    padding:10px;
    letter-spacing: 0.08em;
    font-size:18px;
    margin-left:300px;
}

input[type=submit]:hover{
    background:#97474C;
    color:#E2E2E2;
    border: 1px solid #97474C;
}

h1{
    font-family:baskerville;
    font-size:75px;
    color:#97474C;
    text-align:center;
    z-index:1;
    padding:15px 0px;
    margin-bottom:15px;
    margin-top:10px;
}

.input{
    display:flex;
    flex:1;
    justify-content: center;
    z-index:1;
}

.behindlogin{
    margin:0 auto;
    background:rgba(226,226, 226, 0.74);
    z-index: -1;
    width:700px;
    height:320px;
    margin-top:60px;
}